# Flask core and extensions
Flask
Flask-SQLAlchemy
flask_login
flask_admin

# Database
SQLAlchemy
sqlalchemy-utils
psycopg2-binary

# Server
gunicorn

# Testing
pytest
pytest-flask

# Utilities
requests
toml

# WSGI
Werkzeug