<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Авторизация через VK ID</title>
    <script src="https://unpkg.com/@vkontakte/superappkit@1.57.0/dist/index-umd.js"></script>
</head>

<body>
    <script>
        import { Config, Connect } from '@vkontakte/superappkit';

        Config.init({
            appId: appId, // идентификатор приложения
        });
    </script>
    <h1>Авторизация через VK ID</h1>

    <!-- Добавьте контейнер для кнопки OneTap -->
    <div id="vk-auth-container"></div>
</body>

</html>